doctype html
html
	head
		title='ALT-Application'
		link(rel='stylesheet', href='/stylesheets/my_style.css')
	body
		header
			if (user)
				a Welcome, #{user.username}!
				a( href='/') List
				a( href='/users/account') Account
				a( href='/users/logout') Logout
			if (!user)
				a( href='/users/login') Login
				a( href='/users/register') Register
		block content
